.form-comment{
    form{
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        .form-comment-input{
            margin-bottom: 1rem;
            input{
                width: 100%;
                padding: 0.5rem;
                border: 1px solid #000;
                border-radius: 5px;
                &:focus{
                    outline: none;
                    border: 1px solid #ccc;
                }
            }
            textarea{
                width: 100%;
                padding: 0.5rem;
                border: 1px solid #000;
                border-radius: 5px;
                &:focus{
                    outline: none;
                    border: 1px solid #ccc;
                }
            }
            button{
                padding: 0.5rem;
                border: 1px solid #000;
                border-radius: 5px;
                background-color: #000;
                color: #fff;
                &:hover{
                    background-color: #ccc;
                    color: #000;
                }
            }
        }
    }
}