$color-white: #fff;
$color-gray-light: #f7f7f7;
$color-gray: #ccc;
$color-blue: #0074d9;
$color-article-1: #FFB600;
$color-article-2: #FF007B;
$color-article-3: #A463FF;
$color-article-4: #00E29C;
$color-article-5: #00C7FF;